<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой блог{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="{% url 'blog_post_list' %}">Блог</a></li>

        </ul>
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>

</footer>


<script src="{% static 'js/script.js' %}"></script>
</body>
</html>